  <%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :item_ids, "Item IDs" %>
    <table>    
      <% @items.each do |item| %>
        <tr>
          <th><%= item.name  %></th>
          <td>&nbsp;</td>
          <td><%= item.price %></td>
          <td>&nbsp;</td>
          <td><%= link_to("Add",:class=>'add-btn') %></td>
          <td>&nbsp;</td>
          <td><%= link_to("Remove", '#')%></td>
        </tr>
      <% end %>
    </table>
  </div>

  <%= label_tag(:total_items)%>
  <%= order.items.size %>


  <div class="field">
    <%= f.label :requests %>
    <%= f.text_area :requests %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

