<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @restaurant.owner %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @restaurant.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Number of food items</strong>
  <%= @restaurant.items.size %>
  <ul>
    <% @restaurant.items.each do |item| %>
      <li><%= "#{item.food_category.name} : #{item.name} "%> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Restaurant Categories</strong>
  <ul>
    <% @restaurant.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
  </ul>

</p>





<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
