<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :restaurant_id, "Restaurant ID" %>
    <%= f.select(:restaurant_id, @restaurants.map {|r| [r.name, r.id]}) %>
  </div>

  <div class="field">
    <%= f.label :food_category_id %>
    <%= f.select(:food_category_id, @food_categories.map { |f| [f.name, f.id]}) %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
