<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
	<strong>Belongs to: </strong>
	<%= link_to @item.restaurant.name, restaurant_path(@item.restaurant.id) %>
</p>

<p>
  <strong>Food Category:</strong>
  <%= link_to @item.food_category.name, '#' %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
