
<div class="hero-img">

	<br>
	<h1 class="text-center">Order Delivery & Take-Out Online</h1>
	<p class="text-center">Hundreds of restaurants and exclusive online offers at your fingertips</p>

	<div class="row margin-row">
			
		<div class="col-md-3 col-sm-12">
		</div>
		<div class="input_fields">
			<div class="col-md-3 col-sm-12" >
				<input id="postal_field" type="text" placeholder="Eg. L3R 9H7">
			</div>

			<div class="col-md-3 col-sm-12">
				<button class="btn feed-btn btn-lg">Feed Me!</button>
			</div>
		</div>
		<div class="col-md-3 col-sm-12">
		</div>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 steps-div">
					<h2>1. Enter your postal code</h2>
					<p>Tell us where you are. All we need is your postal code.</p>
				</div>
				<div class="col-md-4 col-sm-12 steps-div">
					<h2>2. Choose your restaurant</h2>
					<p>Hundreds of dishes to choose from.</p>
				</div>
				<div class="col-md-4 col-sm-12 steps-div steps-div-last">
					<h2>3. Pay securely</h2>
					<p>Pay with Visa, Visa Debit, Amex, Mastercard or Interac Online.</p>
				</div>

			</div>
		</div>

	</div>
</div>

<div id="info-div">
	<h2 class="text-center" id="info-header">Why order from JUST FEAST?</h2>

	<div class="info-grid">

		<div class="col-md-4 col-sm-6">
			<h4>Exclusive offers and discounts</h4>
			<br>  
			<%= image_tag("scissors.png", :class=>'scissors') %>
		</div>
		<div class="col-md-4 col-sm-6">
			<h4>Same prices</h4>
			<br>
			<%= image_tag('store.png') %>
		</div>
		<div class="col-md-4 col-sm-6">
			<h4>Thousands of helpful reviews</h4>
			<br>
			<%= image_tag('star.png') %>
		</div>


		<div class="col-md-4 col-sm-6">
			<h4>A huge selection of cuisine types and dishes</h4>
			<br>
			<%= image_tag('chef.png') %>
		</div>
		<div class="col-md-4 col-sm-6">
			<h4>Excellent customer service</h4>
			<br>
			<%= image_tag('chat.png') %>
		</div>
		<div class="col-md-4 col-sm-6">
			<h4>Easy and secure payment by card or cash</h4>
			<br>
			<%= image_tag('wallet.png') %>
		</div>
	</div>
</div>

<footer class="footer">

	<div class='container footer-container'>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<h4>Cuisines</h4>
				<ul class="footer-list">
					<li><a href="">Ideas</a></li>
					<li><a href="">Chinese Food Delivery</a></li>
					<li><a href="">Pizza Delivery</a></li>
					<li><a href="">Sushi Delivery</a></li>
					<li><a href="">Thai Food Delivery</a></li>

				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<h4>Towns</h4>
				<ul class="footer-list">
					<li><a href="">Toronto</a></li>
					<li><a href="">Calgary</a></li>
					<li><a href="">Waterloo</a></li>
					<li><a href="">Kitchener</a></li>
					<li><a href="">Mississauga</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<h4>About Us</h4>
				<ul class="footer-list">
					<li><a href="">For Restaurants</a></li>
					<li><a href="">Contact Us</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">FAQ's</a></li>
					<li><a href="">Career Opportunities</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>